@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import "./tailwind.css";

//***********************************************

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body,
#root {
  height: 100%;
}

//***********************************************

.main {
  height: calc(100% - 60px);
}

//***********************************************

::-webkit-scrollbar {
  width: 4px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background: #edf2f7;
}
body.dark ::-webkit-scrollbar-track {
  background-color: #242526;
}
::-webkit-scrollbar-thumb {
  background: #d4dfeb;
}
body.dark ::-webkit-scrollbar-thumb {
  background-color: #353738;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

//***********************************************

.swiper-pagination-bullet-active {
  background-color: #32445a !important;
}
body.dark .swiper-pagination-bullet-active {
  background-color: #2d88ff !important;
}

//***********************************************

.home-page-list-item.active {
  background-color: rgba(243, 244, 244, 0.7);
}
.home-page-list-item:hover {
  background-color: rgba(243, 244, 244, 0.7);
}
body.dark .home-page-list-item.active {
  background-color: #1c2f48;
}
body.dark .home-page-list-item.active:hover {
  background-color: #1c2f48;
}
body.dark .home-page-list-item:hover {
  background-color: #252525;
}

//***********************************************

.sidebar-language-list-item.active {
  background-color: #fdede9;
}
body.dark .sidebar-language-list-item:hover {
  background-color: #252525;
}
.sidebar-language-list-item {
  &:hover {
    background-color: rgba(243, 244, 244, 0.7);
  }
  &.html.active {
    @apply bg-html/20 text-html;
  }
  &.css.active {
    @apply bg-css/20 text-css;
  }
  &.javascript.active {
    @apply bg-javascript/20 text-javascript;
  }
  &.php.active {
    @apply bg-php/20 text-php;
  }
  &.mysql.active {
    @apply bg-mysql/20 text-mysql;
  }
  &.laravel.active {
    @apply bg-laravel/20 text-laravel;
  }
  &.python.active {
    @apply bg-python/20 text-python;
  }
  &.git.active {
    @apply bg-git/20 text-git;
  }
}
body.dark .sidebar-language-list-item {
  &.active {
    color: #ffffff !important;
  }
  &.html.active {
    background-color: rgba(229, 77, 39, 0.2) !important;
  }
  &.css.active {
    background-color: rgba(41, 164, 217, 0.2) !important;
  }
  &.javascript.active {
    background-color: rgba(247, 223, 30, 0.2) !important;
  }
  &.php.active {
    background-color: rgba(116, 120, 174, 0.2) !important;
  }
  &.mysql.active {
    background-color: rgba(68, 121, 161, 0.2) !important;
  }
  &.laravel.active {
    background-color: rgba(255, 45, 32, 0.2) !important;
  }
  &.python.active {
    background-color: rgba(51, 114, 165, 0.2) !important;
  }
  &.git.active {
    background-color: rgba(247, 78, 40, 0.2) !important;
  }
}

//***********************************************

.akis-navbabar {
  & > a {
    margin: 20px 0;
    border-color: transparent;
    padding-bottom: 5px !important;
    border-bottom: 4px solid transparent !important;
    transition: 150ms;
    &.active {
      border-bottom-color: #32445a !important;
      color: #32445a !important;
    }
  }
}
body.dark .akis-navbabar {
  & > a.active {
    border-bottom-color: #2d88ff !important;
    color: #2d88ff !important;
  }
}

//***********************************************

body.dark .langSwiper {
  .html {
    background-color: rgba(229, 77, 39, 0.2) !important;
  }
  .css {
    background-color: rgba(41, 164, 217, 0.2) !important;
  }
  .javascript {
    background-color: rgba(247, 223, 30, 0.2) !important;
  }
  .php {
    background-color: rgba(116, 120, 174, 0.2) !important;
  }
  .mysql {
    background-color: rgba(68, 121, 161, 0.2) !important;
  }
  .laravel {
    background-color: rgba(255, 45, 32, 0.2) !important;
  }
  .python {
    background-color: rgba(51, 114, 165, 0.2) !important;
  }
  .git {
    background-color: rgba(247, 78, 40, 0.2) !important;
  }
}

//***********************************************

.lang-headerText {
  &.html {
    color: #fff;
    background-color: rgba(229, 77, 39, 1) !important;
  }
  &.css {
    color: #fff;
    background-color: rgba(41, 164, 217, 1) !important;
  }
  &.javascript {
    color: #000;
    background-color: rgba(247, 223, 30, 1) !important;
  }
  &.php {
    color: #fff;
    background-color: rgba(116, 120, 174, 1) !important;
  }
  &.mysql {
    color: #fff;
    background-color: rgba(68, 121, 161, 1) !important;
  }
  &.laravel {
    color: #fff;
    background-color: rgba(255, 45, 32, 1) !important;
  }
  &.python {
    color: #fff;
    background-color: rgba(51, 114, 165, 1) !important;
  }
  &.git {
    color: #fff;
    background-color: rgba(247, 78, 40, 1) !important;
  }
}

.ders-post-btn {
  transition: 150ms;
  & > svg {
    box-sizing: content-box;
    padding: 2px;
    border-radius: 8px;
  }
  &:hover {
    & > svg {
      background-color: rgba(237, 247, 237, 0.7);
    }
    & > span {
      top: -28px;
      opacity: 1;
    }
  }
}
