@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

//***********************************************

@tailwind base;
@tailwind components;
@tailwind utilities;

//***********************************************

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body,
#root {
  @apply h-full;
}

//***********************************************

.main {
  height: calc(100% - 60px);
}

//***********************************************

::-webkit-scrollbar {
  width: 4px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background: #edf2f7;
  @apply dark:bg-[#242526];
}
::-webkit-scrollbar-thumb {
  background: #d4dfeb;
  @apply dark:bg-[#353738];
}
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

//***********************************************

.swiper-pagination-bullet-active {
  background-color: #32445a !important;
  @apply dark:bg-mainBlue #{!important};
}

//***********************************************

.home-page-list-item.active {
  background-color: rgba(243, 244, 244, 0.7);
  color: #32445a;
}
.home-page-list-item:hover {
  background-color: rgba(243, 244, 244, 0.7);
}
body.dark .home-page-list-item.active {
  background-color: #1c2f48;
}
body.dark .home-page-list-item.active:hover {
  background-color: #1c2f48;
}
body.dark .home-page-list-item:hover {
  background-color: #252525;
}

//***********************************************

.sidebar-language-list-item.active {
  background-color: #fdede9;
}
body.dark .sidebar-language-list-item:hover {
  background-color: #252525;
}
.sidebar-language-list-item {
  &:hover {
    background-color: rgba(243, 244, 244, 0.7);
  }
  &.html.active {
    @apply bg-html/20 text-html #{!important};
  }
  &.css.active {
    @apply bg-css/20 text-css #{!important};
  }
  &.javascript.active {
    @apply bg-javascript/20 text-javascript #{!important};
  }
  &.php.active {
    @apply bg-php/20 text-php #{!important};
  }
  &.mysql.active {
    @apply bg-mysql/20 text-mysql #{!important};
  }
  &.laravel.active {
    @apply bg-laravel/20 text-laravel #{!important};
  }
  &.python.active {
    @apply bg-python/20 text-python #{!important};
  }
  &.git.active {
    @apply bg-git/20 text-git #{!important};
  }
}
body.dark .sidebar-language-list-item {
  &.active {
    @apply text-white #{!important};
  }
  &.html.active {
    @apply bg-html/20 #{!important};
  }
  &.css.active {
    @apply bg-css/20 #{!important};
  }
  &.javascript.active {
    @apply bg-javascript/20 #{!important};
  }
  &.php.active {
    @apply bg-php/20 #{!important};
  }
  &.mysql.active {
    @apply bg-mysql/20 #{!important};
  }
  &.laravel.active {
    @apply bg-laravel/20 #{!important};
  }
  &.python.active {
    @apply bg-python/20 #{!important};
  }
  &.git.active {
    @apply bg-git/20 #{!important};
  }
}

//***********************************************

.akis-navbabar {
  & > a {
    @apply my-4 border-b-4 border-transparent pb-[5px] transition-colors;
    &.active {
      @apply border-b-mainGray text-mainGray;
    }
  }
}
body.dark .akis-navbabar {
  & > a.active {
    @apply border-mainBlue text-mainBlue;
  }
}

//***********************************************

body.dark .langSwiper {
  .html {
    @apply bg-html/20 #{!important};
  }
  .css {
    @apply bg-css/20 #{!important};
  }
  .javascript {
    @apply bg-javascript/20 #{!important};
  }
  .php {
    @apply bg-php/20 #{!important};
  }
  .mysql {
    @apply bg-mysql/20 #{!important};
  }
  .laravel {
    @apply bg-laravel/20 #{!important};
  }
  .python {
    @apply bg-python/20 #{!important};
  }
  .git {
    @apply bg-git/20 #{!important};
  }
}

//***********************************************

.lang-headerText {
  &.html {
    @apply bg-html text-white;
  }
  &.css {
    @apply bg-css text-white;
  }
  &.javascript {
    @apply bg-javascript text-black;
  }
  &.php {
    @apply bg-php text-white;
  }
  &.mysql {
    @apply bg-mysql text-white;
  }
  &.laravel {
    @apply bg-laravel text-white;
  }
  &.python {
    @apply bg-python text-white;
  }
  &.git {
    @apply bg-git text-white;
  }
}